<div class="container">
  <div class="question dialog">
    <p><%= params[:question] %></p>
    <p><em>-You</em></p>
  </div>
  <div class="answer dialog">
    <p><%= @answer %></p>
    <p><em>-Your coach</em></p>
  </div>
</div>

