<div class="container">
  <form action="/answer" class="form-group">
    <label for="">Ask your coach anything</label>
    <div class="input-group">
      <input type="text" name="question" value="<%= params[:question] %>" class="form-control">
      <span><button type="submit" class="btn btn-primary">Ask</button></span>
    </div>
  </form>
</div>
