// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  margin: 20px auto;
}

.dialog{
  border-left: 7px solid #F4F4F4;
  padding: 5px 15px;
  margin-bottom: 30px;
}

.answer{
  background-color: rgb(255,253,225);
}
